body {
  background-color: #778899;
}

body, .root, .items, .item, .image {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  margin: 0 auto;
  padding: 100px 70px;
  max-width: 1280px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  align-content: flex-start;
  gap: 30px;
}

.item {
  list-style-type: none;
  background: coral;
}

/* This is a pseudo element that defines the width and height of the container for the image */
.item::before {
  content: "";
  width: 1px;
  height: 0;
  margin-left: -1px;
  float: left;
  padding-top: calc(200 / 360 * 100%); /* !!! REQUIRED */ /* !!! 200 and 360 are the desired height and width of the image container in pixels */
}

/* This is a pseudo element to clear float */
.item::after {
  content: "";
  display: table;
  clear: both;
}
